<html>
<head>
<title>List Directory Contents</title>

</head>
<body>
	<form action="listdir/listDir" method="post">
		<label>Enter folder to list Directory structure:</label> <input
			type="text" name = "dir"> <br /> <input type="submit" value="Submit">
	</form>
</body>
</html>